.prompt {
  text-align: center;
}

.addInfoContainer, .maintenanceTask, .maintenanceTaskPiece {
  display: flex;
}

.addInfoContainer, .maintenanceTask {
  justify-content: space-between;
}

.confirmationContainer {
  background-color: var(--vanilla);
}

.confirmationContainer {
  padding: 1rem;
}

.confirmationContainer, .maintenanceGuideContainer {
  border-radius: 15px;
}

.confirmationContainer, .addInfoContainer, .maintenanceGuideContainer {
  margin-bottom: 1rem;
}

.addInfoContainer, .maintenanceTask, .maintenanceTaskPiece {
  align-items: center;
}

.form {
  width: 60%;
}

.maintenanceGuideContainer {
  background-color: var(--mint60);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* ----------------------------------- @media rules ----------------------------------- */

@media screen and (min-width: 1008px) {
  .prompt {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .confirmationContainer {
    border-radius: 15px;
    border: 1px var(--textLight) solid;
  }

  .confirmationContainerDesktop {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
