.chocolate80bg {
  height: 100vh;
  background-color: var(--chocolate80);
}

.chocolate80filler {
  height: auto;
  background-color: var(--chocolate80);
}

.chocolate60bg {
  height: 100vh;
  background-color: var(--chocolate60);
}

.chocolate60filler {
  height: auto;
  background-color: var(--chocolate60);
}

.vanillaToastedbg {
  height: 100vh;
  background-color: var(--vanillaToasted);
}

.vanillaToastedFiller {
  height: auto;
  background-color: var(--vanillaToasted);
}

.detailsContainer {
  background-color: var(--vanilla);
  border-radius: 0 0 15px 15px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.detailsContainerDesktop, .detailsContainerDetailsPagesDesktop {
  display: none;
}

.addHFHeaderDesktop {
  display: flex;
}

.addHFHeaderDesktopIcon {
  height: 2.5rem;
}

.mainDetailsContainer {
  border: 1px solid var(--textDark);
  border-radius: 15px;
  padding: 1rem;
}

.hr {
  width: 75%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--textDark);
}

.purpose {
  font-family: 'Karla', sans-serif;
  margin-bottom: 0;
}

/* ----------------------------------- @media rules ----------------------------------- */

@media screen and (min-width: 1008px) {
  .detailsContainer {
    display: none;
  }

  .detailsContainerDesktop, .detailsContainerDetailsPagesDesktop {
    display: block;
  }

  .detailsContainerDetailsPagesDesktop {
    margin-top: -24px;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 2rem;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 2rem;
    background-color: var(--vanilla);
    border-radius: 20px;
  }

  .mainDetailsContainer {
    width: 50%;
    margin-top: -48px;
    margin-left: auto;
  }

  .chocolate60bg, .chocolate80bg, .vanillaToastedbg {
    height: auto;
    background-color: transparent;
  }

  .actionBtnContainerDesktop {
    display: flex;
    justify-content: space-between;
  }

  .progressbar {
    width: 20% !important;
    padding: 2rem;
  }
}
