.container {
  width: 100px;
  margin-right: 1rem;
}

.containerAdd {
  display: none;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: var(--mint60);
}

/* ----------------------------------- @media rules ----------------------------------- */

@media screen and (min-width: 1008px) {
  .container, .containerAdd {
    width: 20%;
  }

  .containerAdd {
    display: block;
    margin-right: 1rem;
  }

  .card {
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
  }
}
