.displayTop {
  display: block;
  position: sticky;
  top: 0;
}

.displaySide {
  display: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/* ----------------------------------- @media rules ----------------------------------- */

@media screen and (min-width: 1008px) {
  .displayTop {
    display: none;
  }

  .displaySide {
    display: block;
  }

  .desktopContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 24px;
  }

  .footer {
    display: none;
  }
}
