.card {
  /* background */
  width: 275px;
  height: 275px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: var(--vanilla);
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

  /* content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.data {
  font-family: 'Karla';
  font-size: 5rem;
  font-weight: 700;
}

.profileCardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* ----------------------------------- @media rules ----------------------------------- */
@media screen and (min-width: 575px) {
  .profileCardContainer {
    flex-direction: row;
  }
}

@media screen and (min-width: 1008px) {

}
