.container {
  display: flex;
  flex-direction: column;
}

/* ----------------------------------- @media rules ----------------------------------- */

@media screen and (min-width: 1008px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
