.container {
  width: 45%;
  background-color: var(--vanilla);
  border-radius: 15px;
  margin-bottom: 1rem;
}

.img {
  border-radius: 15px 15px 0 0;
}

.label {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
