/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */
/* Karla: Light 300, Regular 400, Medium 500, Bold 700 */
/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap'); */

:root {
  --gradient: linear-gradient(45deg, #B5E48C, #FFD364);
  --light-gradient: linear-gradient(45deg, #CDE4B8, #F1DCA5);
  --mint100: #A2CD7C;
  --mint80: #B5E48C;
  --mint60: #D9ED92;
  --orange100: #FFB703;
  --orange80: #FFDC24;
  --orange60: #FFD364;
  --vanilla: #FFF8E6;
  --vanillaToasted: #F1E7CC;
  --vanillaBurnt: #B0A994;
  --chocolate100: #C1947F;
  --chocolate80: #DDB892;
  --chocolate60: #CFBBAF;
  --textDark: #140A01;
  --textLight: #35291B;
  --alert: #940D0D;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.pageContent, .modal-body {
  padding-left: 20px;
  padding-right: 20px;
}

body, h1, h2, h3, h4, button.nav-link {
  color: var(--textLight);
}

body, nav {
  background-color: var(--vanilla);
}

nav {
  position: sticky !important;
  top: 0px;
  z-index: 50;
}

ul li.active {
  margin: 8px;
  border-radius: 8px;
  background-color: var(--vanillaToasted);
  font-weight: 500;
}

.brand {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

h1, h2, h3, h4, a, th, button, button.nav-link, .callout, .smallHeader, .modal-title {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-weight: 700;
}

h2, h4, button.nav-link, .btn {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

table, .noMB {
  margin: 0 !important;
}

th, td, .btn, .modal-title, .textDark {
  color: var(--textDark);
}

.callout {
  font-size: 1.25rem;
}

.callout, .smallHeader {
  font-weight: 500;
}

.page-tagline {
  display: none;
}

.tag {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.labelAdditional {
  float: right;
}

.lifespan {
  margin-left: 32px;
}

.selectLabel {
  margin-bottom: 0;
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: none;
}

th, .selectLabel {
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

tr {
  border: none !important;
}

.btn {
  display: flex !important;
  align-items: center !important;
  border: none !important;
  border-radius: 50px;
}

.btn-back {
  width: 36px;
  margin-left: -24px;
  margin-bottom: 1rem;
}

.addhfbtn-container {
  justify-content: flex-end;
}

.addhfbtn-container, .addhfprocessbtn-container {
  display: flex;
  margin-top: 1rem;
}

.addhfbtn-container button, .addhfprocessbtn-container button {
  margin-left: 1rem;
}

.addhfprocessbtn-container {
  display: none;
}

/* dropdown rules */
.selecthf-container {
  width: fit-content;
}

#dropdown-hfs {
  background-color: var(--vanillaToasted);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#dropdown-hfs:active, .btn-secondary:hover, .btn-secondary:focus, .show > .btn-secondary.dropdown-toggle {
  color: var(--textDark);
}

#dropdown-hfs, .dropdown-menu {
  width: 100%;
}

#dropdown-hfs, .dropdown-menu a {
  font-size: 1.25rem;
}

#dropdown-hfs img, .dropdown-menu a img {
  margin-right: 0.5rem;
}

.dropdown-toggle::after {
  margin-left: auto;
}

.dropdown-menu {
  color: var(--textLight);
}
/* END dropdown rules */

/* modal rules */
.modal-content {
  background-color: var(--chocolate100);
  border: 0;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
  justify-content: space-around;
}
/* END modal rules */

/* accordion rules */
.accordion {
  width: 100% !important;
}

.accordion-item, .accordion-button {
  background-color: var(--vanilla) !important;
  border-radius: 15px !important;
}

.accordion-button {
  color: var(--textLight) !important;
}
/* END accordion rules */

/* icon rules */
.iconFirst {
  margin-right: 0.5rem;
}

.iconLast {
  margin-left: 0.5rem;
}

.hfcard-icon {
  width: 60%;
}
/* END icon rules */

/* selectable card rules */
.selectableContainer, .selectedContainer {
  width: 45%;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.selectableContainer {
  background-color: var(--vanilla);
}

.selectedContainer {
  background-color: var(--vanillaBurnt);
}
/* END selectable card rules */

/* tabbar rules */
ul.nav.nav-pills {
  margin: auto;
  width: fit-content;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.15rem;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

button.nav-link.active {
  background: var(--gradient) !important;
}

button.nav-link.active, button.nav-link:hover, button.nav-link:focus {
  color: var(--textDark) !important;
}

ul.nav.nav-pills, button.nav-link:hover, button.nav-link:focus {
  background-color: var(--vanillaToasted);
}

ul.nav.nav-pills, button.nav-link {
  border-radius: 15px !important;
}

.tab-content {
  width: 100%;
  padding-bottom: 1rem;
}
/* END tabbar rules */

/* ----------------------------------- @media rules ----------------------------------- */

@media screen and (min-width: 1008px) {
  body {
    background: var(--light-gradient);
  }

  .vanilla-bg, .dashboard-desktop {
    width: 100%;
  }

  .vanilla-bg {
    height: 100%;
    padding: 24px;
    border-radius: 20px;
    background-color: var(--vanilla);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }

  .page-tagline {
    display: block;
  }

  .hfadd-icon, .no-hfs-notice {
    display: none;
  }

  .addhfprocessbtn-container {
    display: flex;
    justify-content: center;
  }

  /* selectable card rules */
  .selectableContainer, .selectedContainer {
    width: 18%;
  }

  .selectableContainer {
    background-color: var(--vanillaToasted);
  }

  .selectedContainer {
    background-color: var(--vanillaBurnt);
  }
  /* END selectable card rules */
}
